__pycache__/
build/
Ui_*.py
*_rc.py
ManagedConfig.txt
UserConfig.txt
*.dat
.vscode/tags
.mypy_cache/
.vscode/.ropeproject/objectdb
tests/data
tests/test.dat*
qdarkstyle/qss/_styles.scss.processed
