[Desktop Entry]
Version=1.0
Type=Application
Name=CodeBeagle
GenericName=Source indexing and browsing
Comment=CodeBeagle - A tool to search source code based on a full text index
Exec={installdir}/CodeBeagle
Terminal=false
MimeType=text/plain;
Icon={installdir}/resources/CodeBeagle.png
Categories=Development
StartupNotify=true
