name: Linux build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3
      uses: actions/setup-python@v3
      with:
        python-version: "3.13"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Setup Node.js environment
      uses: actions/setup-node@v3.2.0
    - name: Run build
      run: |
        chmod +x build-*.sh
        ./build-unix-freeze.sh linux
    - name: Run mypy
      run: |
        # stop the build if there are Python syntax errors or undefined names
        mypy
    - name: Read version number
      id: get_version
      run: echo "version=$(node -p "JSON.parse(fs.readFileSync('./VERSION', 'utf8')).version")" >> $GITHUB_OUTPUT
    - name: Linux build result
      uses: actions/upload-artifact@v4
      with:
        name: CodeBeagle.Linux.${{ steps.get_version.outputs.version }}
        path: build/CodeBeagle

