name: MacOS build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: macos-latest
    
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3
      uses: actions/setup-python@v3
      with:
        python-version: "3.13"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 Cx_freeze PyQt5 certifi
    - name: Setup Node.js environment
      uses: actions/setup-node@v3.2.0
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
    - name: Run build
      run: |
        chmod +x build-*.sh
        ./build-unix-freeze.sh mac
        chmod +x ./build/CodeBeagle/CodeBeagle
        chmod +x ./build/CodeBeagle/UpdateIndex
    - name: Read version number
      id: get_version
      run: echo "version=$(node -p "JSON.parse(fs.readFileSync('./VERSION', 'utf8')).version")" >> $GITHUB_OUTPUT
    - name: MacOS build result
      uses: actions/upload-artifact@v4
      with:
        name: CodeBeagle.MacOS.${{ steps.get_version.outputs.version }}"
        path: build/CodeBeagle

